button.btn.btn-primary {
  border-radius: 2px;
}

button.btn.btn-primary.default-cursor {
  opacity: 1;
  padding: 6px 16px;
}

button.btn.btn-primary .glyphicon-search {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 3px;
}

button .glyphicon-plus-sign {
  margin-right: 10px;
}

button.add-contact {
  padding: 7px 25px 5px 12px;
  font-size: 13px;
  border: 1px solid #6799C3;
}

.glyphicon-remove-sign {
  background-color: #F58025;
  border-radius: 10px;
  box-shadow: 0 0 1px #216FB5, inset 0 0 1px #216FB5, 0 0 1px #216FB5, inset 0 0 1px #216FB5, 0 0 1px #216FB5, inset 0 0 1px #216FB5, 0 0 1px #216FB5, inset 0 0 1px #216FB5, 0 0 1px #216FB5, inset 0 0 1px #216FB5;
}

button.save-contact {
  background-color: #666;
  color: #FFF;
  padding: 6px 25px;
  font-size: 13px;
  border-radius: 2px;
}