
div[data-reactroot] {
  padding: 0;
}

nav.navbar.navbar-default {
  background-color: #F58025;
  border: none;
  border-radius: 0;
  border-bottom: 15px solid #E7E7E7;
  height: 75px;
  margin-bottom: 45px;
}

.navbar-default .navbar-brand {
  color: #FFF !important;
  line-height: 35px;
}

.modal-content > div {
  padding: 15px 25px;
}
