
.modal-dialog input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
