/*@font-face {
  font-family: 'droid';
  src: url('/styles/fonts/droid-kufi.ttf') format('truetype');
}*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:  local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/styles/fonts/material-design-icons.woff2) format('woff2');
}

.mdi {
  font-family: 'Material Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
