/*body {}*/

.pointer {
  cursor: pointer;
}

.default-cursor {
  cursor: default !important;
}

.right {
  float: right;
}

.error label {
  color: #a94442;
}

.error input {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.contacts-tool {
  margin-bottom: 60px;
}

table {
  border: 1px solid #AAA;
}

th {
  background-color: #676767;
  color: #FFF;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: .5px;
  padding: 10px 5px 5px 15px !important;
  border: 1px solid #676767 !important;
  border-right: 1px solid #CCC !important;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

td {
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.fake-cell {
  height: 31px;
}

.modal-dialog {
  margin-top: 135px !important;
  width: 660px;
}

.modal-dialog .modal-content {
  border-radius: 2px;
}

.modal-dialog .modal-header {
  background-color: #216FB5;
  color: #FFF;
}

.modal-body label {
  color: #555;
  font-size: 12px;
}
